.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 50%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.summary {
    box-shadow: 10px 20px 10px hsl(221, 100%, 96%);
}



