.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 50%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.wrapper {
    margin: 100px auto;
    width: 700px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.result {
    border-radius: 10px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 1));
    color: hsl(0, 0%, 100%);
    width: 50%;
}

.summary {
    color: hsl(224, 30%, 27%);
    width: 50%;
    box-shadow: 10px 20px 10px hsl(221, 100%, 96%);
}


.totalScore {
    padding: 25px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 1));
}

button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    height: 50px;
    width: 200px;
    border-radius: 25%;
}
button:active,
button:hover {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 1));
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

p {
    margin: 10px;
}